.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.login main {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 20px 8px rgba(91, 48, 48, 0.815);
}
.form {
  padding: 0.8rem;
}
.login h1 {
  text-align: center;
  margin: 10px;
  color: rgba(20, 7, 7, 0.616);
}

.form .img-div {
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: 100%;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.img-div img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  content: "Upload photo";
}

.img-div:hover {
  opacity: 0.5;
  filter: blur(2px);
}

.form input {
  position: relative;
  padding: 5px;
  margin: 5px;
  border-style: hidden;
  background-color: transparent;
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

.form input:focus {
  outline: none;
}
.form input::placeholder {
  color: rgba(170, 22, 22, 0.664);
}

.form .btn-div {
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.form button {
  margin: 1rem 0 0 0;
  padding: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5em;
  border-radius: 10px;
  border-color: rgba(20, 7, 7, 0.616);
  background-color: rgba(91, 48, 48, 0.815);
  box-shadow: 5px 10px 8px rgba(91, 48, 48, 0.815);
}

.form button:hover {
  background-color: rgba(252, 132, 132, 0.562);
  border: 1px solid black;
}

.form button:active {
  outline: none;
  background-color: rgba(91, 48, 48, 0.815);
}
.login .register {
  color: rgba(39, 13, 13, 0.815);
  text-align: center;
  padding-bottom: 5px;
}
.login .register a {
  color: rgba(170, 22, 22, 0.664);
}

.temsService {
  text-align: center;
  padding-bottom: 1rem;
}

.temsService p,
span {
  color: rgba(39, 13, 13, 0.815);
  font-size: medium !important;
  font-weight: 200 !important;
}
.temsService a {
  text-decoration: none;
  color: rgba(170, 22, 22, 0.664);
  font-weight: bolder;
  font-size: x-large;
}
.temsService a:hover,
.login .register a:hover {
  color: rgba(39, 13, 13, 0.815);
}

@media only screen and (max-width: 576px) {
  .form input {
    width: 14rem !important;
  }
  .temsService a {
    font-size: larger;
  }
}
