.savedlist {
  position: absolute;
  top: 100px;
  left: 0;
  display: block;
  margin-right: 20px;
  min-height: 100vh;
  max-height: fit-content;
}

.savedlist .itemDiv .head {
  width: 100vw;
  height: 66px;
  background-color: rgba(53, 3, 3, 0.548);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.savedlist .itemDiv .head label {
  font-size: larger;
  font-weight: bolder;
  color: whitesmoke;
  padding: 15px;
}

.savedlist .itemDiv .head .scaleUp {
  color: whitesmoke;
  padding: 15px;
  display: block;
}

.savedlist .itemDiv .head .icon {
  transition: all 5s ease-in-out;
  transform: rotateY(180deg);
}

.savedlist .itemDiv .head .scaleDown {
  color: whitesmoke;
  padding: 15px;
  display: none;
}

.savedlist .itemDiv .showbody {
  width: 100vw;
  height: auto;
  display: none;
}

.footer_saveList {
  background-color: black;
  height: 50px;
  position: fixed;
  bottom: 0;
  color: whitesmoke;
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  width: 100vw;
}
.footer_saveList i{
  margin-left: 10px;
}
