.footer{
    background-color: rgba(9, 9, 9, 0.842);
    /* display: flex; */
    /* justify-content: center; */
    margin: 0;
    padding-bottom: 1rem;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer p{
    padding-top: 1rem;
    color: rgba(112, 12, 12, 0.815);
    text-align: center;
    font-size: x-large;
}
.footer p a{
    text-decoration: none;
    color: rgba(112, 12, 12, 0.815);
}
.footer p a:hover{
    color: rgba(179, 54, 54, 0.815);
}
