.footer{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 1rem;
    /* position: absolute; */
    bottom: 0;
}

.footer p{
    color: rgba(39, 13, 13, 0.815);
    text-align: center;
    font-size: x-large;
}
.footer p a{
    text-decoration: none;
    color: rgba(170, 22, 22, 0.664);
}
.footer p a:hover{
    color: rgba(39, 13, 13, 0.815);
}
